body {
  height: 100vh;
  margin: 0;
  font-family: "Spartan";
  font-size: 15px;
  background: url("D:\\Coding\\Web Development\\Frontend Mentor\\social-proof-section-master\\images\\bg-pattern-top-desktop.svg"), url("D:\\Coding\\Web Development\\Frontend Mentor\\social-proof-section-master\\images\\bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

.outer-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1140px;
  height: 590px;
  
  display: flex;
  flex-wrap: wrap;
}

.about {
  height: 240px;

  flex: 0 0 50%;
}

.ratings {
  height: 240px;
  
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ratings-item {
  width: 480px;
  height: 60px;
  background: hsl(300, 24%, 96%);
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ratings-text {
  margin: 0 0 0 30px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.star {
  margin: 0 2px;
}

.first-star {
  margin: 0 2px 0 30px;
}

.reviews {
  height: 280px;

  flex: 0 0 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.reviews-item {
  width: 290px;
  height: 250px;
  font-size: 13px;
  line-height: 1.7;
  color: white;
  border-radius: 10px;
  background: hsl(300, 43%, 22%);
  padding: 0 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewer {
  margin: 0 0 25px 0;

  display: flex;
  align-items: center;
}

.reviewer-status {
  color: hsl(333, 80%, 67%);
}

.profile-picture {
  width: 40px;
  border-radius: 50%;
  margin: 0 25px 0 0;
}

.name {
  font-weight: 700;
}

#main-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 0.95;
  letter-spacing: -3px;
  color: hsl(300, 43%, 22%);
  margin: 8px 100px auto auto;
}

#main-paragraph {
  font-weight: 500;
  line-height: 1.6;
  color: hsl(303, 10%, 53%);
  margin: 15px 90px auto auto;
}

#report-guru-rating {
  align-self: center;
}

#besttech-rating {
  align-self: flex-end;
}

#irene-roberts {
  align-self: center;
}

#anne-wallace {
  align-self: flex-end;
}

@media screen and (max-height: 590px) {
  body {
    height: auto;
    padding: 50px 0;
  }
}

@media screen and (max-width: 1140px) {
  body {
    height: auto;
    padding: 80px 0;
    background: url("D:\\Coding\\Web Development\\Frontend Mentor\\social-proof-section-master\\images\\bg-pattern-top-mobile.svg"), url("D:\\Coding\\Web Development\\Frontend Mentor\\social-proof-section-master\\images\\bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }

  .container {
    width: 330px;
    height: auto;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .about {
    height: auto;
    text-align: center;
    margin: auto auto 40px auto;

    flex: auto;
  }
  
  .ratings {
    height: 270px;
    margin: auto auto 40px auto;

    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
  }

  .ratings-item {
    width: 330px;
    height: 80px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ratings-text {
    margin: 5px auto auto auto;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
  }

  .stars {
    margin: auto auto 5px auto;
  }
  
  .star {
    margin: 0 2px;
  }
  
  .first-star {
    margin: 0 2px 0 0;
  }
  
  .reviews {
    height: 795px;
    margin: auto;

    flex-direction: column;
    justify-content: space-between;
    flex: auto;
  }

  .reviews-item {
    width: 260px;
    height: 255px;
  }

  #main-heading {
    margin: auto auto 25px auto;
    font-size: 35px;
  }

  #main-paragraph {
    margin: auto;
  }
}